<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="static\style.css">
    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/5892/5892385.png" />
    <title>Genetic Engineering in Healthcare</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/boxicons@latest/css/boxicons.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
</head>
<body>
    <header>
        <h2 class="logo">Genetic Engineering in Healthcare</h2>
        <ul class="navlist">
          <li><a href="/" class="active">Home</a></li>
          <li><a href="Join Us/index.html">Join Us</a></li>
          <li><a href="About Us/index.html">About Us</a></li>
        </ul>
        <div class="bx bx-menu" id="menu-icon"></div>
    </header>
    <div class="container">
      <div class="chatbox">
          <div class="chatbox__support">
              <div class="chatbox__header">
                  <div class="chatbox__content--header">
                      <h4 class="chatbox__heading--header">Chat support</h4>
                      <p class="chatbox__description--header">WELCOME TO THE AMAZON CHAT SUPPORT </p>
                  </div>
              </div>
              <div class="chatbox__messages">
                  <div></div>
              </div>
              <div class="chatbox__footer">
                  <input type="text" placeholder="Write a message...">
                  <button class="chatbox__send--footer send__button"><input type="image" name="SEND" 
                      src="https://img.icons8.com/external-bartama-outline-32-bartama-graphic/344/external-email-e-mail-bartama-outline-32-bartama-graphic-7.png" alt="text" height="50" width="125"></button>
              </div>
          </div>
          <div class="chatbox__button">
              <button class="button"><img src="{{ url_for('static', filename='images/chatbox-icon.svg') }}" /></button>
          </div>
      </div>
  </div>  

  


    <script type =text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson }};
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>

</body>
</html>